.tip__title{
  max-width: 90%;
  font-weight: bold;
  font-size: rem-calc(20);
  padding-left: 5px;
  display: inline-flex;
}
.tips__grid{
  columns: 2 200px;
  column-gap: 1rem;
}
.tips__title{
  font-weight: bold;
}
.tip__description{
  padding-left: 5px;
}
.tip__delete{
  float: right;
  display: inline-block;
  font-size: rem-calc(15);
  color: #bdc3c7;
}
.tip__anonym{
  display:inline-flex;
  font-size: rem-calc(15);
}
