.tip-title {
  display: inline-flex;
  max-width: 90%;
  font-size: rem-calc(20);
  font-weight: bold;
}

.tips-grid {
  columns: 2 300px;
}

.tip-delete {
  display: inline-block;
  float: right;
  color: #bdc3c7;
  font-size: rem-calc(15);
}

.tip-anonym {
  display: inline-flex;
  padding-right: 5px;
  font-size: rem-calc(15);
}

.tip-views {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #8a8a8a;
  font-weight: normal;
  line-height: 1.4;
}

.tip-life-area {
  position: absolute;
  bottom: .5rem;
}

.tips-paginations {
  width: intrinsic;
  margin: 0 auto;
}

.home-top-title {
  margin-left: .5rem;
}

.unliked a {
  color: #cecece;
}

.likes-count {
  margin-left: 5px;
}
