.row
  .column
    .tip-show
      h3 = tip.title
      h4 = tip.description
      h4 = tip.experience
      h4 = tip.experience_ext
      h4 = tip.life_area_id

    .tip-comments
      = render tip.comments
    = render "comments/form"
  iframe id="lpframe" src="https://www.loungepass.com/xmlapi/doPayment.cfm?param={
      "token": "5175F204E7BF38B2500CECAB99B9D14F",
      "lounge_code": "TYO2IAS",
      "flight_no": "1212" ,
      "date_of_visit": "15/02/2020",
      "time_of_visit": "12:12",
      "pax_title": "",
      "pax_firstname": "21",
      "pax_lastname": "12",
      "AdditionalPaxNames": [],
      "title": "",
      "first_name": "asd",
      "last_name": "asd",
      "email": "21e@ferm.yg",
      "data_protect": "N",
      "telephone": "+7 (324) 243-24-32",
      "fax": "",
      "order_total": "36.00",
      "currency": "USD",
      "addrline1": "Address Line 1",
      "addrline2": "",
      "city": "AALBORG",
      "province": " ",
      "zip": "XY1 2YZ",
      "country": "DK",
      "destination": "HKG",
      "your_ref": ""
      }" height="520" name="pay_iframe" style="transform: scale(0.9); width: -webkit-fill-available;"
